@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo{
    color: #000;
    text-decoration: none;
}

.headerInner{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li{
    margin-left: 65px;
}

.menu{
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.banner{
    width: 100%;
    height: 100vh;
    background-color: #ffbf69;
    background-image: url(../images/background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bannerInner{
    padding-top: 25vh;
}

h1, h2{
    margin: 0;
}

h1{
    margin-left: -7px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 144px;
}

.buyH1{
    margin-top: 20vh;
    margin-left: -1px;
    font-size: 36px;
    color: #ffbf69;
}

.text{
    margin: 0;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.btn{
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 66px;
    background-color: #CBF3F0;

    font-weight: 600;
    font-size: 24px;
    text-decoration: none;

    color: #000000;
}

.popitInner{
    margin-top: 15vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game{
    width: 70%;
    line-height: 1.5em;
    font-weight: 400;
}

.grid-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
    text-align: center;
    background-color: #CBF3F0;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    height: 150px;
    width: 150px;
}

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbf69;
    color: #000;
    text-decoration: none;
    width: 130px;
    height: 40px;
}

.rules{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(images/bg-grid.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 15vh;
}

.rules-inner{
    display: block;
    margin-right: 50px;
    min-width: 50%;
}

.rules-text{
    font-weight: 400;
    margin-top: 4vh;
}

.photo{
    height: 350px;
}



footer{
    background-color: rgb(51, 51, 51);
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.logoP{
    margin: 0;
    color: white;
}

.aFooter{
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}